.cameraClass {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;
}

.overlay {
    background-image: url('/public/img/placeholder.png');
    background-color: brown;
}

.cameraDiv {
    display: flex;
    justify-content: center;
    width: 60%;
    position: relative;
}

video {
    width: 100%;
    border: 7px solid grey;
}

.btnDiv {
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 50%;
    width: 6%;
    height: 11%;
    outline: none;
    position: absolute;
    top: 79%;
    left: 50%;
    cursor: pointer;
}
.btnDiv:hover{
    background-color: rgba(255, 255, 255, 0.808);
}

#outercircle {
    background-color: rgba(255, 255, 255, 0.801);
    border: 3px;
    border-radius: 50%;
}

