.cameraClass {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: burlywood;
}

.overlay {
    background-image: url('/public/img/placeholder.png');
    background-color: brown;
}


video {
    width: 80%;

}

.btnDiv {
    width:100%;
}