  
.demo-image-preview {
    position: relative;
    text-align: center;
  }
  
  .demo-image-preview > img {
    width: 200px;
  }
  
  @media(max-width:768px){
    .demo-image-preview > img {
      width: 50%;
    }
  }
  
  /* fullscreen enable by props */
  /* .demo-image-preview-fullscreen > img {
    width: 50vw;
    height:50vh;
  } */
