html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Raleway", "Arial", sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/img/triangle-mosaic.png");
}

* {
  font-family: "Raleway", "Arial", sans-serif, -apple-system, BlinkMacSystemFont;
}

code {
  font-family: "Raleway", "Arial", sans-serif, -apple-system, BlinkMacSystemFont;
}

#headshot-title {
  text-align: center;
  font-family: "Raleway", "Arial", sans-serif, -apple-system, BlinkMacSystemFont;
  letter-spacing: 3pt;
  font-size: larger;
  color: #4d4e4e;
  letter-spacing: 10px;
}

.homeDiv {
  color: black;
  font-size: 15px;
  font-weight: bold;
  width: 750px;
  background-color: rgb(241, 241, 241);
  margin: 0 auto;
  padding: 20px 50px;
  border-radius: 5px;
  line-height: 28px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}

.heading {
  background-color: #2e67b2;
}

.decor {
  width: 0;
  height: 0;
  margin-top: 9px;
  position: absolute;
  border-top: 50px solid transparent;
  border-left: 50px solid #f8992f;
  border-bottom: 50px solid transparent;
}
.decor2 {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 60px solid transparent;
  border-left: 60px solid #4d4e4e;
  border-bottom: 60px solid transparent;
}

#instructions {
  font-weight: bold;
}

.demo-image-preview {
  position: relative;
  text-align: center;
}

.demo-image-preview > img {
  width: 768px;
}

video {
  width: 100%;
  border: 5px solid lightgray;
}
.cameraDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.camera {
  width: 770px;
  height: 440px;
  position: absolute;
}

.showBtn {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 440px;
}

.nav {
  color: whitesmoke;
  font-weight: 300;
  font-size: 14pt;
}

.nav-link:hover {
  color: rgb(59, 6, 59);
  background-color: whitesmoke;
}

.overlay {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  /* background-color: green; */
  width: 770px;
  margin-top: 8%;
  height: 350px;
}

.btnDiv {
  display: flex;
  justify-content: center;
  margin-top: -35px;
}

#showBtn {
  position: absolute;
  z-index: 2;
  background-color: grey;
  width: 200px;
}

#placeholder {
  max-width: 50%;
  opacity: 0.7;
}
#container-circles {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 5;
}

#logo {
  width: 100%;
  padding: 5% 20% 3% 20%;
}

#backsplash {
  display: flex;
  color: black;
  background-color: rgba(255, 255, 255, 0.87);
  align-items: center;
  width: 650px;
  height: 400px;
  justify-content: center;
  font-weight: 600;
  position: absolute;
  /* left: 17%; */
}

#backsplash-wrapper { 
  background-image: url("/img/backsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2vw;
  margin-bottom: 3vw;
  /* margin-left: 3.2vw; */
  width: 100vw;
  height: 90vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.preview-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.preview-s-btns {
  background-color: rgb(194, 191, 199);
  color: black;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  margin: 20px;
}

.info {
  margin: 0;
  z-index: 8;
}

.retake,
.save,
.hide,
.info {
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  border: none;
  transition-duration: 0.1s;
}

.retake:hover,
.save:hover,
.hide:hover {
  size: 98%;
  background: rgb(226, 223, 231);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}

.container-instr {
  display: flex;
  justify-content: center;
  margin: 450px 0 30px 0;
}

.home-container {
  margin-top: 10vh;
}

@media (max-width: 830px) {
  .demo-image-preview > img {
    width: 100%;
  }
  #backsplash {
    width: 75vw;
    overflow: hidden;
    /* left: 12%; */
    height:280px;
  }
  #backsplash-wrapper {
    width: 100vw;
  }
  .camera {
    width: 100vw;
  }
}
@media(max-width:700px){
  #container-circles {
    opacity: 0.5;
  }
  #backsplash-wrapper {
    width: 100vw;
    /* margin-left: 5vw; */
  }
}

@media(max-width:600px){
  #container-circles {
    opacity: 0.5;
  }
  #backsplash-wrapper {
    width: 100vw;
  }
}

@media (max-width: 500px) {
  .showBtn {
    width: 1vw;
    height: 1vh;
  }
  #container-circles {
    opacity: 0.5;
  }
  #outer-circle {
    opacity: 1;
    margin-top: 30px;
  }
  body {
    width: 100vw;
  }
  .camera {
    width: 100vw;
  }
  .btnDiv {
    width: 100vw;
  }
  .cameraDiv {
    margin-top: 50px;
  }
  #backsplash {
    width: 75vw;
    overflow: hidden;
    left: 12%;
    height:280px;
  }
  #headshot-title{
    letter-spacing: 8px;
    font-size: large;
  }
  .overlay {
    width: 100vw;
  }
  #placeholder {
    margin-top: 30px;
    height: 170px;
  }
  .container-instr {
    margin-top: 40px;
    padding-top: 40px;
    z-index: 5;
    left: 25vw;
  }
  /* .camera {
    height: 200px;
  } */
  .home-container {
    margin-top: 30px;
  }
}

/* fullscreen enable by props */
.demo-image-preview-fullscreen > img {
  width: 100vw;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.mid {
  text-align: center;
}

.buttonContainer {
  display: flex;
  margin-top: 5px;
  padding: 5px;
}

/* w3 schools method ... can be applied to any pics */

.responsive {
  max-width: 100%;
  height: auto;
}

/* PLEASE IGNORE THIS FOR NOW WHILE THE INSTRUCTION COMPONENTS TEAM WORKS ON THE INSTRUCTIONS THANK YOU JC 😊 */
/* .lineItem {
  border: blue dashed 2px;
  margin: 5px;
} */

h1.instHead1 {
  color: black;
}
#buisnesspeople {
  padding: 5px;
}
