body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/img/triangle-mosaic.png');
  font-family: good;
}

* {
  font-family: 'MuseoModerno', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-family: 'Yellowtail', cursive;
  letter-spacing: 5pt;
  font-size: larger;
  color: white;
}

.homeDiv {
  color: black;
  font-size: 15px;
  font-weight: bold;
  width: 750px;
  background-color: rgb(241, 241, 241);
  margin: 0 auto;
  padding: 20px 50px;
  border-radius: 5px;
  line-height: 28px;
  box-shadow: 3px 4px 5px rgba(0,0,0,0.2);
}

.heading {
  background-color: rgb(18,40,70);
}

.decor {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 50px solid transparent;
  border-left: 50px solid #f8992f;
  border-bottom: 50px solid transparent;
}

#instructions{
  font-weight: bold;
}

.demo-image-preview {
  position: relative;
  text-align: center;
}

.demo-image-preview > img {
  width: 768px;
}

video {
  width: 100%;
  border: 5px solid lightgray;
}
.cameraDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.camera {
  width:770px;
  height:440px;
  position: absolute;
  /* background-color: green; */
}

.showBtn {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 440px;

}

#hideBtn {
  background-color:lightgrey;
  border-radius: 20px;
  /* border: 2px solid rgba(238, 238, 238, 0.7); */
  padding: 10px;
  width: 200px;
  box-shadow:0px 0px 20px 7px rgba(0, 0, 0, 0.521);
}

.nav {
  color: whitesmoke;
  font-weight: 300;
  font-size: 14pt;
}

.nav-link:hover {
  color:rgb(59, 6, 59);
  background-color: whitesmoke;
}

.overlay {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  
  /* background-color: green; */
  width: 770px;
  margin-top: 8%;
  height: 350px;
}

.btnDiv {
  display: flex;
  justify-content: center;
  margin-top: -35px;
}

#showBtn {
position: absolute;
z-index: 2;
background-color: grey;
width: 200px;
}

#placeholder {
  max-width: 50%;
  opacity: .7;
}
#container-circles {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 5;
}

.logo {
  position: absolute;
  z-index: 1;
  max-width: 200px;
  bottom:10px;
  right: 10px;
}

.preview-btns {
  width:100%;
  display: flex;
  justify-content: space-between;
}
.preview-s-btns {
  background-color:rgb(203, 192, 212);
  color:black;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  margin: 20px;
}

.retake {
  box-shadow: 0 20px 15px rgba(168, 128, 153, 0.658);
  border: none;
}
.retake:hover {
  size:98%;
  background:rgb(139, 130, 150);
  box-shadow: 0 20px 15px rgba(255, 201, 234, 0.658);
}

.save {
  box-shadow:20px 20px 30px rgba(146, 128, 187, 0.658);
  border: none;
}
.save:hover {
  size:98%;
  background:rgb(139, 130, 150);
  box-shadow:20px 20px 30px rgba(200, 186, 253, 0.658);
}

footer {
  position: absolute;
  bottom:-20px;
  text-align: center;
  /* background-color: rgb(233, 233, 233); */
  color:whitesmoke;
  width: 100%;
}

@media(max-width:768px){
  .demo-image-preview > img {
    width: 100%;
  }
}

@media(max-width:500px){
  .showBtn {
    width: 1vw;
    height: 1vh;
  }
  body {
    width: 100vw;
  }
  .camera{
    width: 100%;
  }
  .btnDiv {
    width: 100vw;
  }
  .cameraDiv {
    margin-top: 50px;
  }
}

/* fullscreen enable by props */
.demo-image-preview-fullscreen > img {
  width: 100vw;
  height:100vh;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.mid{
text-align: center;
}
